<body>
  <div align = "center">
    <h1>Titulos de : {{candidato.nombre}}</h1>
  </div>

  <div class = "tbl-header">
    <table cellpadding = "0" cellspacing = "0" border = "0">
      <thead>
        <tr>
          <th><h3>Nombre</h3></th>
          <th><h3>Centro</h3></th>
          <th><h3>Nivel educativo</h3></th>
          <th><h3>Fecha Expediente</h3></th>
          <th><a routerLink = "/addTitulo"><button id = "add">Añadir Titulo</button></a></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class = "tbl-content">
    <table cellpadding = "0" cellspacing = "0" border = "0">
      <tbody>
        <tr *ngFor = "let titulo of titulos">
          <td>{{titulo.nombre}}</td>
          <td>{{titulo.centro}}</td>
          <td>{{titulo.nivelEd}}</td>
          <td>{{titulo.fechaExp}}</td>
          <td>
            <a routerLink = "/editTitulo"><button (click) = "getTitulo(titulo)">Modificar</button></a>
            <button (click) = "delTitulo(titulo)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>   
  </div>
  <a routerLink = "/candidato"><button id = "volver">Volver</button></a>
</body>