<div align = "center" id = "body">
  <h1>Añadir Tecnologia</h1>
  <h4>{{mensaje}}</h4>
  <table>
    <tr>
      <td class= "underline">Nombre</td>
      <td class = "inputs"><input type = "text" id = "nombre"></td>
    </tr>
    <tr>
      <td class= "underline">Descripcion</td>
      <td class = "inputs"><input type = "text" id = "descripcion"></td>
    </tr>
  </table>

  <button (click) ="addTec()" id = "add">Añadir</button>
  <a routerLink = "/tecnologia" routerLinkActivated = "active"><button id = "volver">Volver</button></a>
</div>>
